/* Colores */
:root {
  --primary: #fc1207;
  --secondary: #f15c24;
  --third: #ee8741;
  --fourth: #f2a977;
  --fifth: #fceee4;
  --white: #fff;
  --black: #3e3933;
}

/* globales */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  text-decoration: none !important;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  background: var(--secondary) !important;
  text-decoration: none !important;
  color: var(--primary) !important;
}
a {
  text-decoration: none !important;
}
/* tipografia */
h1 {
  font-size: 4rem;
  color: var(--var(--black));
}
h2 {
  font-size: 3.6rem;
  color: var(--var(--black));
}
h3 {
  font-size: 2.5rem;
  color: var(--var(--black));
}
h4 {
  font-size: 2rem;
}
.App {
  height: 100%;
  background-color: var(--fifth);
  width: 80%;
  margin: 0 auto;
}
/* iniciar sesion */
.login {
  background-color: #f15c24 !important;
  border: none !important;
  font-size: 2rem;
  padding: 1rem 2rem !important;
  position: absolute;
  right: 12%;
}
/* css del header */
header {
  padding: 5rem;
  z-index: 1000;
}
header button {
  background-color: var(--primary) !important;
  color: var(--fifth);
  border: none;
  padding: 0.5rem 1.5rem !important;
  font-size: 3rem !important;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid var(--fifth) !important;
}
header button:hover {
  background-color: var(--fifth) !important;
  color: var(--primary);
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
}
/* navgacion */
.navbar {
  background-color: #f15c24;
  padding: 1rem 5rem;
  width: 80%;
  margin: 0 auto;
  color: var(--fifth);
  font-size: 2rem;
}
.navbar a {
  color: var(--fifth);
  text-decoration: none;
  margin: 0 2rem;
}
.navbar a:hover {
  color: var(--secondary);
  text-decoration: none;
  background-color: var(--fifth);
}
.navbar .navbar-brand {
  font-size: 3rem;
  color: var(--fifth);
  margin: 0 2rem;
}
.dropdown-menu a {
  color: var(--secondary);
  text-decoration: none;
}
/* carruosel */
.carousel-inner {
  max-height: 80rem;
  margin: 5rem auto;
}
.carousel-item {
  border-radius: 1rem;
  padding: 3rem;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.2rem solid var(--secondary);
}
/* card de videos */
.videos,
.comentarios,
.formulario {
  width: 80% !important;
  background-color: var(--fourth);
  margin: auto;
  border-radius: 0.5rem;
  border: 0.1rem solid;
  margin-bottom: 5rem;
  font-size: 2rem;
}
.videos h2,
.comentarios h2,
.formulario h2 {
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  padding: 3rem;
}
.videos .card-title,
.comentarios .card-title {
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
}
.videos div.row,
.comentarios div.row {
  margin: 2rem auto;
  text-align: center;
}
.videos .card button,
.comentarios .card button {
  background-color: var(--secondary);
  color: var(--fifth);
  border: none;
  padding: 0.5rem 1.5rem !important;
  font-size: 2rem !important;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid var(--fifth) !important;
}
.videos .card button:hover,
.comentarios .card button:hover {
  background-color: var(--fifth) !important;
  color: var(--secondary);
  border: 1px solid var(--secondary) !important;
  color: var(--secondary) !important;
}
/* footer  */
.footer {
  background-color: var(--black);
  color: var(--fifth);
  padding: 5rem;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10rem;
}
.nav-item a {
  color: var(--fifth);
  text-decoration: none;
}
/* formulario */
.formulario .form-control {
  height: 5rem;
  border-radius: 0;
  border: 1px solid var(--fourth);
  font-size: 2rem;
  color: grey;
  margin: 2rem;
  width: 90%;
}
.formulario button {
  width: 100%;
  height: 5rem;
  border-radius: 0;
  border: 1px solid var(--fourth);
  background: var(--fourth);
  color: white;
  background-color: var(--black);
  margin: 2rem;
  font-size: 3rem;
}
.formulario label {
  font-size: 2rem;
  color: var(--secondary);
  padding: 0 2rem;
}
.formulario input[type="submit"]{
  width: 90%;
  color: var(--white);
  background-color: var(--secondary)!important;
  height: 5rem;
  border-radius: 0;
  border: 1px solid var(--primary);
  color: white;
  margin: 2rem;
  font-size: 3rem;

}